/* App.css */
*{
  padding: 0%;
  margin: 0%;
}
.container-app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  
  border: 40px solid  #CCCCCC;
  padding: 20px; /* Add padding to create space between the border and the content inside */
}

.container-header {
  display:flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: flex-start;
  font-size: small;
  width: 100%;
  

   
}



.container-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* NameComp.css */
.name {
  font-size: small;
  font-weight: bold;
 
}

/* NavBar.css */
.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: 100px;
  padding-left: 80px;
  justify-content: 40px;
  display: inline;
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  
  flex-direction: row;
}

.navbar li {
  font-size: small;
   
}

/* SocialLinks.css */
.social-links {
  display: flex;
  padding-left: 180px;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: large;
  justify-content: space-between;
}

 
    .side-links {

      transform: rotate(180deg);
       align-items: bottom;
       writing-mode: vertical-lr; 
       margin-top: 200px;
       justify-content: space-between;
       
    }
    .side-links ul{
      list-style-type: none; /* Remove the default bullet point */
       font-size: smaller;
      display: inline;
    } 
    tex-de
    .side-links li {
      display: inline-flex;
      transform:rotate(180deg);
      writing-mode: vertical-lr;
      align-items:bottom; 
      height: 200px;
    }

/* ImageNameComponent.css */
.photo-display {
  display: flex;
  align-items: center;
  margin-bottom: 0%;
}

.photo-display img {
  width: 270px;
  height: 350px;
  object-fit: cover;
  border-bottom: 0;
  border-right: 0px;
  border-top: 5px;
  position: relative;
  margin-left: 13%;
}

.bgImg{
  width: 200px;
  height: 300px;
  margin-top: 50px;
  object-fit: cover;
  border-radius: 
  50% 50% 0 0;
  margin-left: 110px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  background: #3fbae4 ;
  position: absolute;
}

.name-head{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  transform: rotate(270deg);
  margin-top: 2px;
  margin-right: 2px;
  font-weight: 100px;
  
  margin-top: 180px;
 padding-left:1px ;
 position: absolute;
  
}
.schedule-button{
 text-decoration: none; 
 border: 0.5px solid  #000;
 padding: 10px;
 padding-bottom: 0%;
 padding-top: 0px;
 margin-top: 50%;


}

.photo-display.name {
  transform: rotate(180deg);
  align-items: bottom;
  writing-mode: vertical-lr; 
  margin-top: 200px;
  
}
.photo-display p {
  transform: rotate(270deg);
  display: inline;
  border:  10px solid  #3fbae4;
  writing-mode: vertical; 
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  margin-left: 0px;
  
}

/* WhyMeSection.css */
.why-me-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* LatestWork.css */
.latest-work {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top:100px;
  
}

.latest-work img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  justify-content: space-between;
}
.view-all-button {
  border: none;
}