/* App.css */
a {
  text-decoration: none;
}
*{
  padding: 0%;
  margin: 0%;
}
.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  width: flex;
  
  border: 40px solid  #CCCCCC;
  padding: 20px; /* Add padding to create space between the border and the content inside */
}

.container-header {
 
  margin-bottom: 10px;
  font-size: small;

  justify-content: space-between;
  display: flex;
  width :100%;
}



.container-body {
  display: flex;
  justify-content: space-between;
  display: flex;
  width:100%;
  margin-top: 100px;
 

}

/* NameComp.css */
.name {
  font-size: small;
  font-weight: bold;
 width: flex;
}

/* NavBar.css */
.navbar {
  align-items: center;
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  
  text-decoration: none;

 display: flex;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  width:flex;
  flex-direction: row;
  
}

.navbar li {
  font-size: small;
   
}

/* SocialLinks.css */
.social-links {
  display: flex;
  align-items: center;
  width: 30%;
  font-size: large;
  gap: 20px;

}

 
    .side-links {

      transform: rotate(180deg);
       writing-mode: vertical-lr; 
       justify-content: space-between;
       margin-bottom: 30px;
       
    }
    .side-links ul{
      list-style-type: none; /* Remove the default bullet point */
       font-size:inherit;
       font-family: sans-serif;
     
      
    } 
    
    .side-links li {
      display: inline-flex;
      text-decoration: none;
      margin-bottom: 3%;
    } 
       

    .imagebgname-container{
       margin-right: 200px;
      margin-top: -80px;
    }


.photo-display img {
  width: 256px;
  height: 536px;
  object-fit: cover;
  position: relative;
  

}

.bgimg{
  width: 250px;
  height: 408px;
  padding-left:10px;
  object-fit: cover;
  border-radius: 
  38% 38% 0 0;
  
  background: #3fbae4 ;
  position: absolute;
  margin-top: 13%;
}





.name-head{
  height: px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  transform: rotate(270deg);
  margin-left: -100px;
  margin-top: -250px;
  font-weight: 100px;
  text-shadow: 0px -4.5px 0px #3fbae4;

 position: absolute;
  
}
.schedule-button{
 text-decoration: none; 
 border: 0.5px solid  #000;
 padding: 25px 50px;
 font-size: small;
 margin-top: 10%;
 margin-bottom: 10%;


}



/* WhyMeSection.css */
.why-me-section {
  display: flex;
  justify-content: space-between;
  
  

}
.whymelatest-container{
width:50%;

}
.whymeheading{
  font-size: 50px;
  margin-top: -80px;
  display:flex;
}
#para1{
  padding-top: 100px;
}
.whymepara {

  flex-direction: column;
  font-size:inherit;
  display:flex;
  text-justify:auto;
  padding-top: 0px;
  margin-top: -80px;
}

/* LatestWork.css */
.latest-work {
  display: flex;
  flex-direction: column;
  gap: 10px;


  
}
.latestworkheading{
 
  font-size: 40px;

}

.latest-work img {
  display:inline-flex;
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  justify-content: space-between;
  margin: 24px 20px 2px 0;
  flex-direction: row;
}
.view-all-button {
  border: none;
  background-color: #00000000;
  align-items: start;
  
}
.midwordline{
  flex-direction: column;
  
  justify-content: space-between;
  margin-left: -20%;

}
.midle-word {
    display: flex;
    transform: rotate(180deg);
    align-items: top;
    writing-mode: vertical-lr;
    font-size: 5px;
    
    
  
}
.midle-line {
 
  width: 3px;
  height: 120px;
  background-color: #3fbae4;

}

 