/* App.css */
a {
  text-decoration: none;
}
*{
  padding: 0%;
  margin: 0%;
}
.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  width: flex;
  
  border: 40px solid  #CCCCCC;
  padding: 20px; /* Add padding to create space between the border and the content inside */
}

.container-header {
 
  margin-bottom: 10px;
  font-size: small;
  background-color: #CCCCCC;
  justify-content: space-between;
  display: flex;
  width :100%;
}



.container-body {
  display: flex;
  justify-content: space-between;
  display: flex;
  width:100%;
  margin-top: 100px;
 

}

/* NameComp.css */
.name {
  font-size: small;
  font-weight: bold;
 width: flex;
}

/* NavBar.css */
.navbar {
  align-items: center;
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  
  text-decoration: none;

 display: flex;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  width:flex;
  flex-direction: row;
  
}

.navbar li {
  font-size: small;
   
}

/* SocialLinks.css */
.social-links {
  display: flex;
  align-items: center;
  width: 30%;
  font-size: large;
  gap: 20px;

}

 
    .side-links {

      transform: rotate(180deg);
       writing-mode: vertical-lr; 
       justify-content: space-between;
       margin-top: 300px;
       
    }
    .side-links ul{
      list-style-type: none; /* Remove the default bullet point */
       font-size:inherit;
       font-family: sans-serif;
       
      
    } 
    
    .side-links li {
      display: inline-flex;
      margin-bottom: 20px;
      text-decoration: none;
    } 
       

    .imageBgName-container{
      width: 50%
    }


.photo-display img {
  width: 270px;
  height: 350px;
  object-fit: cover;
  position: relative;
 
}

.bgImg{
  width: 200px;
  height: 300px;

  object-fit: cover;
  border-radius: 
  60% 60% 0 0;
  
  background: #3fbae4 ;
  position: absolute;
}





.name-head{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  transform: rotate(270deg);
  margin-left: -100px;
  margin-top: -200px;
  font-weight: 100px;
  text-shadow: 0px -4.5px 0px #3fbae4;

 position: absolute;
  
}
.schedule-button{
 text-decoration: none; 
 border: 0.5px solid  #000;
 padding: 25px 50px;
 font-size: small;
 margin-top: 50px;
 margin-bottom: px;


}



/* WhyMeSection.css */
.why-me-section {
  display: flex;
  justify-content: space-between;
  
  

}
.whymeLatest-container{
width:50%;
}
.whymeHeading{
  font-size: 90px;
  margin-bottom: 50px;
}
#para1{
  padding-top: 100px;
}
.whyMePara {

  flex-direction: column;
  font-size:inherit;
  display:flex;
  text-justify:auto
  
}
/* LatestWork.css */
.latest-work {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top:100px;
  
}
.latestWorkHeading{
 
  font-size: 50px;
  margin-bottom: 10px;

}

.latest-work img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  justify-content: space-between;
  margin: 24px 20px 2px 0;
}
.view-all-button {
  border: none;
  background-color: #00000000;
  align-items: start;
  
}
.midle-word {
    display: flex;
    transform: rotate(180deg);
    align-items: top;
    writing-mode: vertical-lr;
    font-size: 5px;
    margin-top: 5px;
    
    margin-bottom: 10px;
}
.midle-line {
 
  width: 3px;
  height: 120px;
  background-color: #3fbae4;
  margin-top: 200px;
  margin-left:-30%;
  
}

 